/* INDEX.HTML */

/* Colors */

:root {
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basiс-white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --text-simple: 14px;
}

/* Global */

.page-body {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basiс-white);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  /* display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center; */
}

a {
  text-decoration: none;
}

p {
  font-size: var(--text-simple);
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header-bar {
  width: 100%;
  height: 42px;
  /* margin: 0 auto;
  padding: 0 10px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #293449;
}

.button-logo {
  display: flex;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  width: 220px;
  height: 47px;
  color: var(--basiс-white);
  background-color: var(--basic-red);
  position: relative;
  align-items: center;
  justify-content: center;
}

.button-logo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: #b52933;
}

.top-footer .button-logo {
  margin-left: 130px;
}

.search {
  width: 271px;
  height: 42px;
}

.bookmark,
.cart a {
  color: var(--basiс-white);
  font-size: 18px;
}

.order-button {
  display: flex;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  width: 150px;
  height: 42px;
  color: var(--basiс-white);
  background-color: var(--basic-green);
  position: relative;
  align-items: center;
  justify-content: center;
}

.order-button a {
  color: var(--basiс-white);
}

.center-header p,
.tel {
  color: #EE3643;
}

.header-contacts {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  width: 270px;
  height: 72px;
  margin: 0 auto;
  margin-top: 41px;
  padding: 0 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.center-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.center-header span {
  color: var(--basic-black);
  text-align: center;
}

.about {
  width: 197px;
  height: 71px;
  margin-top: 37px;
  margin-left: 160px;
  padding-top: 7px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  font-size: 13px;
  line-height: 23px;
  font-style: italic;
}

.tel {
  width: 270px;
  background-color: #F3F7F9;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  font-size: 21px;
  text-align: center;
}

.user-navigation {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  width: 281px;
  height: 45px;
  margin: 0 auto;
  margin-top: 41px;
  padding: 0 10px;
}

.user-navigation a {
  color: var(--basic-black);
}

.enter-registration {
  display: inline-block;
  text-align: center;
  margin: 2px 0;
  border: solid 1px transparent;
  padding: 0.5em 1em;
  font-size: 21px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basiс-white);
  font-size: 21px;
}

.enter-registration:hover {
  color: var(--basic-red);
}

.enter-registration:active {
  color: var(--basic-greylight);
}

/* User navigation */

.site-navigation a {
  color: var(--basiс-white);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-navigation {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  background-color: #32425C;
  padding: 0;
}

.site-navigation li:hover {
    background-color: #293449;
}

.site-navigation li:active {
    background-color: #1D2739 ;
}
