/* Font face */

@font-face {
  font-family: 'cuprum';
  src: url('../fonts/cuprum.woff'),
       url('../fonts/cuprum.woff2');
}

@font-face {
  font-family: 'cuprumbold';
  src: url('../fonts/cuprumbold.woff'),
       url('../fonts/cuprumbold.woff2');
}

@font-face {
  font-family: 'cuprumbolditalic';
  src: url('../fonts/cuprumbolditalic.woff'),
       url('../fonts/cuprumbolditalic.woff2');
}

@font-face {
  font-family: 'cuprumitalic';
  src: url('../fonts/cuprumitalic.woff'),
       url('../fonts/cuprumitalic.woff2');
}

@font-face {
  font-family: 'ptsans';
  src: url('../fonts/ptsans.woff'),
       url('../fonts/ptsans.woff2');
}

@font-face {
  font-family: 'ptsansbold';
  src: url('../fonts/ptsansbold.woff'),
       url('../fonts/ptsansbold.woff2');
}

/* Colors */

:root {
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basiс-white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --text-simple: 14px;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basiс-white);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  /* display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center; */
}

a {
  text-decoration: none;
}

p {
  font-size: var(--text-simple);
  line-height: 24px;
}

h2 {
  font-family: Cuprum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header-bar {
  width: 100%;
  height: 42px;
  /* margin: 0 auto;
  padding: 0 10px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #293449;
}

.main-header {
  width: 1200px;
  height: 320px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0 10px;
  display: grid;
  background-color: var(--basic-background);
}

.button-logo {
  display: flex;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  width: 220px;
  height: 47px;
  color: var(--basiс-white);
  background-color: var(--basic-red);
  position: relative;
  align-items: center;
  justify-content: center;
}

.button-logo:active {
  background-color: var(--error);
}

.button-logo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: #b52933;
}

.logo .button-logo {
  margin-left: 130px;
}

.search {
  width: 271px;
  height: 42px;
}

.bookmark,
.cart a {
  color: var(--basiс-white);
  font-family: Cuprum;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;

}

.order-button {
  display: flex;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  width: 150px;
  height: 42px;
  color: var(--basiс-white);
  background-color: var(--basic-green);
  position: relative;
  align-items: center;
  justify-content: center;
}

.order-button:hover {
  background-color: var(--success);
}

.order-button:active a {
  color: var(--basiс-white);
  opacity: 0.5 ;
}

.order-button a {
  color: var(--basiс-white);
}

.center-header p,
.tel {
  color: #EE3643;
}

.center-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.center-header span {
  color: var(--basic-black);
  text-align: center;
}

.header-contacts {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  width: 270px;
  height: 90px;
  margin: 0 auto;
  margin-top: 41px;
  padding: 0 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-contacts span {
  font-family: Cuprum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.about {
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  width: 197px;
  height: 71px;
  margin-top: 37px;
  margin-left: 160px;
  padding-top: 7px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.tel {
  font-family: Cuprum;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  width: 270px;
  height: 45px;
  background-color: #F3F7F9;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-navigation {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  width: 281px;
  height: 45px;
  margin: 0 auto;
  margin-top: 41px;
  padding: 0 10px;
}

.user-navigation a {
  color: var(--basic-black);
}

.enter-registration {
  display: inline-block;
  margin: 2px 0;
  border: solid 1px transparent;
  padding: 0.5em 1em;
  color: var(--basic-black);
  background-color: var(--basiс-white);
  font-family: Cuprum;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}

.enter-registration:hover {
  color: var(--basic-red);
}

.enter-registration:active {
  color: var(--basic-greylight);
}

.buy-button {
  display: flex;
  font-family: PTSans;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  width: 141px;
  height: 38px;
  color: var(--basiс-white);
  background-color: var(--basic-red);
  position: relative;
  align-items: center;
  justify-content: center;
}

/* .buy-button:after {
  border: 24px solid transparent;
  border-width: 21px;
  border-left: 22px solid var(--basic-red);
  content:'';
  position: absolute;
  right:-45px;
  top: -2px;
} */

/* INDEX.HTML */

/* Main navigation */

.main-navigation {
  outline: 5px solid rgb(238, 255, 0);
  outline-offset: -5px;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-background);
}


.site-navigation a {
  color: var(--basiс-white);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cuprum;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

.site-navigation {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  background-color: #32425C;
  padding: 0;
}

.site-navigation li:hover {
    background-color: #293449;
}

.site-navigation li:active {
    background-color: #1D2739 ;
}

/* Main */

.main-container {
  width: 1200px;
}

/* Products */

.products {
  outline: 5px solid rgb(208, 255, 0);
  outline-offset: -5px;
  width: 940px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products b {
  font-size: 24px;
  line-height: 30px;
}

.products span {
  font-size: 14px;
  line-height: 18px;
}

.products span b {
  font-size: 18px;
  line-height: 20px;
}

.products p s,
.products p {
  font-size: 17px;
  line-height: 18px;
}

.products p b {
  font-size: 18px;
}

.products p s,
.products span {
  font-size: 17px;
}

.products p s {
  color: #A9A9A9;
}

.products div {
  color: var(--basiс-white);
}

.box-yellow {
  color: var(--basiс-white);
  width: 300px;
  height: 123px;
  display: grid;
  background-color: #FFBF47;
}

.box-yellow span b {
  font-family: Cuprum;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

.box-yellow span {
font-family: Cuprum;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: center;
}

.box-blue {
  color: var(--basiс-white);
  width: 300px;
  height: 123px;
  display: grid;
  background-color: #3BBCE3;
}

.box-blue span b {
  font-family: Cuprum;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

.box-blue span {
  font-family: Cuprum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  }

.box-purple {
  color: var(--basiс-white);
  width: 300px;
  height: 123px;
  display: grid;
  background-color: #DC91D8;
}

.box-purple span b {
  font-family: Cuprum;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

.box-purple span {
  font-family: Cuprum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  }

.box-picture {
  width: 620px;
  height: 266px;
  display: grid;
}

.catalog-button {
  display: flex;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  width: 192px;
  height: 38px;
  text-transform: uppercase;
  color: var(--basiс-white);
  background-color: var(--basic-red);
  position: relative;
  align-items: center;
  justify-content: center;
}

.catalog-button:hover {
  background-color: #CA2C37;
}

.catalog-button:active {
  background-color: #BA2732;
}

.box-green {
  color: var(--basiс-white);
  width: 300px;
  height: 123px;
  display: grid;
  background-color: #8ED78F;
}

.box-green span {
  font-family: Cuprum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  }

.box-green span b {
  font-family: Cuprum;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

.box-orange {
  color: var(--basiс-white);
  width: 300px;
  height: 123px;
  display: grid;
  background-color: #FFC047;
}

.box-orange span b {
  font-family: Cuprum;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

.box-orange span {
  font-family: Cuprum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  }

/* Popular products */

.popular-products-title{
  width: 940px;
  height: 89px;
  margin-top: 59px;
  margin-bottom: 20px;
  margin-left: 130px;
  margin-right: 130px;
  display: grid;
  grid-template-columns: 1fr max-content;
  background-color: #F9F5F0;
}

.popular-products-title h2 {
  display: flex;
  padding-left: 28px;
}

.popular-products-title .product-button {
  display: flex;
  font-family: Cuprum;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  width: 192px;
  height: 38px;
  margin-right: 14px;
  margin-left: 734px;
  margin-top: 25px;
  margin-bottom: 26px;
  color: var(--basiс-white);
  background-color: var(--basic-red);
  position: absolute;
  align-items: center;
  justify-content: center;
}

.popular-products ul {
  list-style: none;
  width: 940px;
  height: 318px;
  padding-left: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.popular-products p b {
  font-size: 18px;
}

.popular-products p s,
.popular-products span {
  font-size: 17px;
}

.popular-products p s {
  color: #A9A9A9;
}

.popular-products a {
  color: var(--basic-black);
}

.first-perforator img {
  height: 164px;
  width: 184px;
  margin-left: 18px;
  margin-top: 6px;
  border-radius: 0px;
}

.first-perforator p b {
  height: 43px;
  width: 185px;
  margin-left: 18px;
  margin-top: 178px;
  border-radius: nullpx;
  }

.second-perforator img {
  height: 112px;
  width: 127px;
  margin-left: 40px;
  margin-top: 29px;
  border-radius: 0px;
}

.second-perforator p b {
  height: 41px;
  width: 157px;
  margin-left: 30px;
  margin-top: 179px;
  border-radius: nullpx;

}

.third-perforator img {
  height: 128px;
  width: 144px;
  margin-left: 33px;
  margin-top: 22px;
  border-radius: 0px;
}

.third-perforator p b {
  height: 128px;
  width: 144px;
  margin-left: 33px;
  margin-top: 22px;
  border-radius: 0px;
}

/* Popular brands */

.popular-brands-title{
  width: 940px;
  height: 89px;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 130px;
  margin-right: 130px;
  display: grid;
  grid-template-columns: 1fr max-content;
  background-color: #F9F5F0;
}

.popular-brands-title .product-button {
  display: flex;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  width: 192px;
  height: 38px;
  margin-right: 14px;
  margin-left: 734px;
  margin-top: 25px;
  margin-bottom: 26px;
  color: var(--basiс-white);
  background-color: var(--basic-red);
  position: absolute;
  align-items: center;
  justify-content: center;
}

.popular-brands-title h2{
  padding-left: 28px;
}

.popular-brands ul {
  list-style: none;
  width: 940px;
  height: 310px;
  padding-left: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Services */

.services-block {
  width: 1200px;
  display: grid;
  grid-template-columns: min-content max-content;
  background-color: var(--basic-background);
}

.services h2{
  padding-left: 130px;
}

.services p {
  font-family: PTSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  height: 49px;
  width: 394px;
  padding-left: 130px;
  border-radius: nullpx;
}

.services-list ul {
  width: 240px;
  height: 279px;
  padding-left: 130px;
  font-family: Cuprum;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basiс-white);
}

.services-list li {
  display: flex;
  align-items: center;
  height: 61px;
}

.first-list {
  list-style: none;
  color: var(--basic-black);
  background-color: #FFFFFF;
}

.second-list,
.third-list {
  list-style: none;
  background-color: #32425C;
}

.services-list .first-list:hover,
.services-list .second-list:hover,
.services-list .third-list:hover {
  background-color: #293449;
  color: var(--basiс-white);
}

.services-list .second-list:active,
.services-list .third-list:active {
  background-color: #FFFFFF;
  color: var(--basic-black);
}

/* Delivery */

.delivery {

}

.delivery p {
  height: 99px;
  width: 300px;
  /* padding-left: 450px; */
  border-radius: nullpx;
  font-family: PTSans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

/* Company */

.company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 130px;
  background-color: var(--basic-white);
  margin-top: 70px;
  margin-bottom: 70px;
}

.company h2 {
  line-height: 30px;
}

.company p {
  font-size: 13px;
  line-height: 24px;
}

.about-company p {
  width: 460px;
  border-radius: nullpx;
  font-family: PTSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

}

.partners-list a {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.partners .partners-button {
  display: flex;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 14px;
  line-height: 18px;
  width: 220px;
  height: 38px;
  margin-right: 850px;
  margin-top: 20px;
  margin-bottom: 370px;
  color: var(--basiс-white);
  background-color: var(--basic-red);
  position: absolute;
  align-items: center;
  justify-content: center;
}

.address p {
  height: 49px;
  width: 180px;
  font-family: PTSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.address-button{
  display: flex;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 14px;
  line-height: 18px;
  width: 300px;
  height: 38px;
  color: var(--basiс-white);
  background-color: var(--basic-red);
  position: relative;
  align-items: center;
  justify-content: center;
}

/* Footer */

.footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Top footer */

.top-footer {
  background-color: #32425C;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.top-footer p {
  padding: 10px;
  color: #F3F7F9;
  outline: 5px solid rgba(124, 36, 196, 0.7);
  outline-offset: -5px;
  width: 321px;
  height: 49px;
  font-family: Cuprum;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.footer-logo {
  display: flex;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  width: 220px;
  height: 68px;
  color: var(--basiс-white);
  background-color: var(--basic-red);
  position: relative;
  align-items: center;
  justify-content: center;
}

.footer-logo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: #b52933;
}

.top-footer .footer-logo {
  margin-left: 130px;
}

/* Footer nav */

.footer-nav ul {
  list-style: none;
  width: 546px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  outline: 5px solid rgba(186, 228, 35, 0.7);
  outline-offset: -5px;
}

.footer-nav a {
  font-family: Cuprum;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--basiс-white);
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav a:active {
  color: #F1F5F7;
  opacity: 0.5;
  text-decoration: none;
}

/* Footer catalog */

.footer-catalog ul {
  list-style: none;
  color: var(--warning);
  display: grid;
  width: 524px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  outline: 5px solid rgba(230, 24, 161, 0.7);
  outline-offset: -5px;
}

.footer-catalog a {
  font-family: Cuprum;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--warning);
}

.footer-catalog a:hover {
  text-decoration: underline;
}

.footer-catalog a:active {
  color: #FFD180;
  opacity: 0.5;
  text-decoration: none;
}

/* Bottom footer */

.bottom-footer {
  background-color: #293449;
}

.bottom-footer .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.first-block {
  margin: 0;
  width: 227px;
  margin-left: 131px;
  margin-top: 31px;
}

.first-block span {
  height: 37px;
  width: 227px;
  font-family: Cuprum;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}

.bottom-footer a {
  list-style: none;
  color: var(--warning);
}

.bottom-footer span,
.bottom-footer p {
  color: var(--basiс-white);
}

/* Footer social */

.footer-social {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.footer-social li {
  list-style: none;
}

/* Footer copyright */

.footer-copyright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 10px;
  width: 320px;
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
}

.footer-copyright p {
  font-family: Cuprum;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}

.footer-copyright a:hover {
  text-decoration-line: underline;
}

.footer-copyright a:active {
  color: #EE3643;
  text-decoration: none;
}

/* Modal */

.modal-window {
  width: 620px;
  height: 430px;
  border: 4px solid red ;
}

.modal-button {
  display: flex;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  width: 460px;
  height: 38px;
  text-transform: uppercase;
  color: var(--basiс-white);
  background-color: var(--basic-red);
  position: relative;
  align-items: center;
  justify-content: center;
}

.modal-close {
  border: none;
  background-color: #FFFFFF;
}


/* CATALOG.HTML */

/* Profile */

.profile {
  outline: 5px solid rgba(0, 255, 106, 0.979);
  outline-offset: -5px;
  width: 300px;
  height: 72px;
  margin: 0 auto;
  margin-top: 41px;
  padding: 0 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.profile a {
  font-size: 21px;
  color: var(--basic-black);
}

.profile a:hover {
  color: var(--basic-black);
}

.profile a:active {
  color: var(--basic-greylight);
}

.profile .order-cabinet:hover {
  color: var(--basic-red);
}

/* Container */

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}

.container h2 {
  height: 89px;
  width: 940px;
  /* margin-left: 130px; */
  background-color: var(--basic-background);
  display: grid;
  outline: 5px solid rgb(255, 123, 0);
  outline-offset: -5px;
}

.container .page-title {
  grid-column: 1 / -1;
}

/* Breadcrumbs */

.breadcrumb {
  /* padding-left: 130px; */
  width: 357px;
}

.breadcrumb ul {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  background-color: var(--basic-white);
}

.breadcrumb ul {
  list-style: none;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-column: 1 / -1;
  margin-bottom: 20px;
  width: 600px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.breadcrumb a {
  font-family: PT Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--basic-black);
  text-transform: uppercase;
}

/* Sort */

.sort ul,
.filter-brands ul,
.filter-power ul {
  list-style: none;
}

.sort {
  outline: 5px solid rgba(0, 247, 255, 0.979);
  outline-offset: -5px;
  display: grid;
  grid-column: 1 / -1;
}

.sort a {
  font-family: PT Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-red);
}

.sort-price:hover,
.sort-type:hover,
.sort-functional:hover {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}

.sort-price:active,
.sort-type:active,
.sort-functional:active {
  color: var(--basic-red);
  opacity: 1;
  border-bottom: none;
}

/* Filter */

.filter {
  outline: 5px solid rgba(0, 4, 255, 0.979);
  outline-offset: -5px;
}

.filter span {
  font-family: PTSans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  padding-left: 18px;
  padding-top: 10px;
}

.price {
  font-family: ptsansbold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

.checkbox-block {
  height: 720px;
  width: 220px;
}

.filter-brands ul {
  font-family: PT Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  padding-left: 0;
}

.brands-checkbox {
  font-family: PTSansbold;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

.filter-power ul {
  font-family: PT Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  padding-left: 0;
}

.power-checkbox {
  font-family: PT Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

.filter-button {
  display: inline-block;
  margin: 2px 0;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  padding: 1px 5px;
  color: var(--basic-black);
  background-color: var(--basiс-white);
  font-family: PTSans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  height: 38px;
  width: 220px;
}

/* Products catalog */

.products-catalog {
  margin-left: 20px;
  outline: 5px solid rgb(208, 255, 0);
  outline-offset: -5px;
}

.products-catalog  ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products-catalog p b {
font-family: PT Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
color: var(--basic-black);
}

.perforator-block {
  height: 318px;
  width: 220px;
}

.perforator-block p b {
  font-family: PTSansbold;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.perforator-block p s {
  color: #A9A9A9;
}

.cart-button {
  display: inline-block; /* Строчно-блочный элемент */
  background: #63A63E; /* Зелёный цвет фона */
  color: var(--basiс-white); /* Белый цвет текста */
  padding: 1px 1px 1px; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-button:hover {
  background-color: var(--success);
}

.cart-button:active {
  background-color: #518534;
}

.bookmark-button {
  display: inline-block; /* Строчно-блочный элемент */
  background: var(--basiс-white); /* Белый цвет фона */
  color: #32425C; /* Серый цвет текста */
  padding: 1px 1px 1px; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border: 3px solid #63A63E;
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.bookmark-button:hover {
  border: 3px solid #32425C;
}

.bookmark-button:active {
  opacity: 0.3;
}

/* Pagination */

.pagination {
  display: grid;
  grid-column: 1 / -1;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.pagination ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.pagination a {
  font-size: 13px;
  color: #000000;
  background: #FFFFFF;
  height: 38px;
  width: 38px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

/* About perforator */

.about-perforator {
  width: 1200px;
  display: grid;
  grid-column: 1 / -1;
  outline: 5px solid rgba(0, 132, 255, 0.7);
  outline-offset: -5px;
  background-color: var(--basic-background);
  margin-left: 0;
}

.about-perforator h2 {
  height: 30px;
  width: 338px;
  margin-top: 64px;
  margin-bottom: 0;
}

.about-perforator p {
  height: 74px;
  width: 907px;
  font-family: PTSans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}
